<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="RGA Test Automation" parallel="methods" configfailurepolicy="continue" thread-count="3">
    <test name="Chrome_remote">
        <parameter name="browserType" value="gc"/>
        <parameter name="executionType" value="remote"/>
        <classes>
            <class name="suite.TestRunner"/>
        </classes>
    </test>
    <test name="firefox_remote">
        <parameter name="browserType" value="ff"/>
        <parameter name="executionType" value="remote"/>
        <classes>
            <class name="suite.TestRunner"/>
        </classes>
    </test>
</suite>